apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: web
spec:
  serviceName: "nginx"
  replicas: 3
  selector:
    matchLabels:
      app: nginx
  template:
    metadata:
      labels:
        app: nginx
    spec:
      containers:
      - name: nginx
        image: nginx:1.25
        command: ['sh', '-c', 'echo "Pod starting..."; sleep 30; nginx -g "daemon off;"']
        ports:
        - containerPort: 80